<p id="notice"><%= notice %></p>

<h1>Medals</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Title</th>
      <th>Weight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medals.each do |medal| %>
      <tr>
        <td><%= medal.code %></td>
        <td><%= medal.name %></td>
        <td><%= medal.title %></td>
        <td><%= medal.weight %></td>
        <td><%= link_to 'Show', medal %></td>
        <td><%= link_to 'Edit', edit_medal_path(medal) %></td>
        <td><%= link_to 'Destroy', medal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medal', new_medal_path %>
