<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @age_group.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @age_group.gender %>
</p>

<p>
  <strong>Code:</strong>
  <%= @age_group.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @age_group.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @age_group.title %>
</p>

<%= link_to 'Edit', edit_age_group_path(@age_group) %> |
<%= link_to 'Back', age_groups_path %>
